TARGET_URL=https://www.aeroflot.ru/sb/subsidized/app/ru-ru#/search
SUBSIDY_PROGRAM=Молодежь и пенсионеры

DEPARTURE_CITY=Москва
ARRIVAL_CITY=Якутск
DEPARTURE_CODE=MOW
ARRIVAL_CODE=YKS
DEPARTURE_DATE=2026-07-17

PASSENGER_CATEGORY=Молодежь

HEADLESS=false
BROWSER_TIMEOUT_MS=30000
