TARGET_URL=https://www.aeroflot.ru/sb/subsidized/app/ru-ru#/search
SUBSIDY_PROGRAM=Молодежь и пенсионеры

DEPARTURE_CITY=Москва
ARRIVAL_CITY=Якутск
DEPARTURE_CODE=MOW
ARRIVAL_CODE=YKS
DEPARTURE_DATE=2026-07-17

PASSENGER_CATEGORY=Молодежь

HEADLESS=true
BROWSER_TIMEOUT_MS=30000

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465

EMAIL_USER=z
EMAIL_PASSWORD=a

EMAIL_TO=abramov.ga@phystech.edu